@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.header {
  @apply h-[100px] flex justify-center flex-col p-10 text-white;
  background-color: #8E041A;
}

.header__title {
  @apply text-3xl uppercase;
}

.header__subtitle {
  @apply text-sm normal-case;
}

.wine-list {
  @apply p-10 flex flex-wrap gap-10 ;
}

.wine-item {
  @apply flex flex-wrap items-center bg-white shadow-xl rounded-lg p-4 w-[100%] lg:w-[49%] max-w-[500px] relative min-h-[270px];
}

.wine-item__image-container {
  @apply w-1/2 lg:w-1/5 flex-shrink-0 order-1 min-h-[270px];
}

.wine-item__image {
  @apply h-auto
  absolute
  -top-5 left-[5vw] lg:left-5;
}

.wine-item__details {
  @apply w-full lg:w-3/5 px-4 mt-4 lg:mt-0 order-3 lg:order-2;
}

.wine-item__winery-name {
  @apply text-gray-600;
}

.wine-item__wine-name {
  @apply font-semibold text-gray-800;
}

.wine-item__region {
  @apply flex items-center text-sm text-gray-600 mt-2;
}

.wine-item__flag {
  @apply w-5 h-5 mr-2;
}

.wine-item__rating-container {
  @apply w-1/2 lg:w-1/5 text-center order-2 lg:order-3;
}

.wine-item__rating {
  @apply text-2xl text-gray-800;
}

.wine-item__rating-stars {
  @apply mr-1 relative inline-block text-gray-300;
}

.wine-item__rating-stars-foreground {
  @apply absolute top-0 left-0 overflow-hidden text-yellow-400;
}

.wine-item__rating-count {
  @apply text-sm text-gray-600;
}

.filter {
  @apply m-10 mb-0;
}

.spinner {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.error {
  @apply mx-10 bg-red-200 rounded p-5;
}
